@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

section.chat__section {
    width: 800px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.brand {
    padding: 20px;
    background: #4b1fa45c; /* Changed to a color matching the background */
    display: flex;
    align-items: center;
    color: #fff;
}

.brand img {
    height: 40px;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 10px;
}

.message__area {
    height: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.452); /* Changed to a color matching the background */
}

textarea {
    flex: 1;
    border: none;
    padding: 20px;
    font-size: 16px;
    height: 100px;
    outline: none;
    background: rgba(255, 255, 255, 0.8); /* Changed to match overall color scheme */
    /* border-top: 1px solid #ddd; */
    resize: none;
    color: #333;
}

.input__area {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255); /* Changed to match overall color scheme */

}

#sendButton {
    background: rgba(255, 255, 255, 0.815); /* Changed to match overall color scheme */
    border: none;
    padding: 10px;
    cursor: pointer;
}

#sendButton img {
    width: 24px;
    height: 24px;
}

.message {
    padding: 8px; 
    border-radius: 8px; 
    margin-bottom: 20px;
    max-width: 60%;
    position: relative;
    word-wrap: break-word;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.incoming {
    background: #4b1fa45c; /* Changed to match the brand color */
    color: #fff;  
    align-self: flex-start;
}

.outgoing {
    background: #4b1fa45c; /* Changed to match overall color scheme */
    color: #fff;
    align-self: flex-end;
}

.message h4 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.message p {
    margin: 0;
    font-size: 14px;
}

.message__area::-webkit-scrollbar {
    width: 8px;
}

.message__area::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.message__area::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}
